<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="run tests in parallel" parallel="tests" verbose="1" thread-count="2">
      
    <test name="Test using sample code" >
        
        <classes>
            <class name="testing.publish.SampleTest"/>
        </classes>
    </test>
</suite>